.site-header {
  .site-title,
  .site-description {
    display: none;
  }
}
.side-a {
  position: fixed;
  left: 0;
  width: 100%;
  height: $size-menu-h;
  margin: 0;
  padding: ($padding__small / 2);
  background: $color__black;
  z-index: 105;
  @include media-md {
    height: 100%;
    height: 100vh;
    width: $size__side-a;
    padding: $padding__small;
  };

  .site-branding {
    display: inline-block;
    a img {
      max-height: ($size-menu-h - $padding__small);
    }
    @include media-md {
      display: block;
      a img {
        max-height: initial;
      }
    }
  }
  #site-sublogo {
    position: absolute;
    display: block;
    top: $padding__small;
    right: $padding__small;
    @include media-md {
      position: relative;
      display: block;
      top: 0;
      left: 0;
    }
    img {
      max-height: $size-menu-h - ($padding__small * 2);
      @include media-md {
        max-height: initial;
      }
    }
  }
  .side-a-bottom {
    display: none;
    @include media-md {
      display: block;
    }
  }

  .menu-toggle {
    position: absolute;
    width: $size__menu-toggle;
    height: $size__menu-toggle-h;
    top: 50%;
    left: 50%;
    margin: (0 - $size__menu-toggle-h / 2) 0 0 (0 - $size__menu-toggle / 2);
    cursor: pointer;
    -webkit-transform: scale(.5);
        -ms-transform: scale(.5);
            transform: scale(.5);
    @include media-sm {
      -webkit-transform: scale(.75);
          -ms-transform: scale(.75);
              transform: scale(.75);
    };
    @include media-md {
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1);
    };
    span {
      position: absolute;
      top: ($size__menu-toggle-h / 2 - $size__menu-toggle__line-h / 2 );
      left: 0;
      width: 100%;
      height: $size__menu-toggle__line-h;
      margin: 0;
      background: #fff;
      opacity: .8;
      @include transition;
    }
    span:before,
    span:after {
      content: "";
      position: absolute;
      top: (0 - $size__menu-toggle-h / 2 + $size__menu-toggle__line-h / 2);
      left: 0;
      width: $size__menu-toggle__line-w;
      height: $size__menu-toggle__line-h;
      background: #fff;
      @include transition;
      -webkit-transform-origin: center center;
          -ms-transform-origin: center center;
              transform-origin: center center;
    }
    span:after {
      top: ($size__menu-toggle-h / 2 - $size__menu-toggle__line-h / 2);
    }
  }
  .menu-toggle:hover {
    @include media-md {
      span {
        opacity: 1;
        -webkit-transform: scale(.7);
            -ms-transform: scale(.7);
                transform: scale(.7);
      }
      span:before {
        -webkit-transform: rotate(37deg) scale(.7) translateX($size__menu-toggle-h / 2);
            -ms-transform: rotate(37deg) scale(.7) translateX($size__menu-toggle-h / 2);
                transform: rotate(37deg) scale(.7) translateX($size__menu-toggle-h / 2);
      }
      span:after {
        -webkit-transform: rotate(-37deg) scale(.65) translateX($size__menu-toggle-h / 2);
            -ms-transform: rotate(-37deg) scale(.65) translateX($size__menu-toggle-h / 2);
                transform: rotate(-37deg) scale(.65) translateX($size__menu-toggle-h / 2);
      }
    };
  }
  .menu-toggle.x {
    span {
      background: none;
    }
    span:before {
      -webkit-transform: translateY($size__menu-toggle-h / 2 ) rotate(45deg);
          -ms-transform: translateY($size__menu-toggle-h / 2 ) rotate(45deg);
              transform: translateY($size__menu-toggle-h / 2 ) rotate(45deg);
    }
    span:after {
      -webkit-transform: translateY(0 - $size__menu-toggle-h / 2) rotate(-45deg);
          -ms-transform: translateY(0 - $size__menu-toggle-h / 2) rotate(-45deg);
              transform: translateY(0 - $size__menu-toggle-h / 2) rotate(-45deg);
    }
  }
}

.side-a-menu {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: ($size-menu-h * 2) 0;
  z-index: 102;
  background: $color__bg_menu;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  @include media-md {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: $size__side-a-menu;
    height: 100%;
    height: 100vh;
    padding: 0;
    background: $color__bg_menu;
    -webkit-box-shadow: 10px 0 20px rgba(0, 0, 0, 0.4);
            box-shadow: 10px 0 20px rgba(0, 0, 0, 0.4);
    z-index: 102;
    -webkit-transform: translateX(0 - $size__side-a-menu);
        -ms-transform: translateX(0 - $size__side-a-menu);
            transform: translateX(0 - $size__side-a-menu);
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  };
}
.side-a-menu.show {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  overflow-y: auto;
  @include media-md {
    -webkit-transform: translateX($size__side-a);
        -ms-transform: translateX($size__side-a);
            transform: translateX($size__side-a);
  };
}
.side-a-menu {
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: block;
      text-align: center;
      padding: 0;
      margin: 0 ;
      a {
        position: relative;
        display: block;
        margin: 0;
        padding: .5rem 0;
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-decoration: none;
        color: $color__white;
        @include transition;
        &:hover {
          color: $color__red;
        }
      }
      ul {
        margin: 0;
        padding: 0;
        li a {
          font-size: .8rem;
        }
      }

    }

  }
  .mCustomScrollBox {
    height: auto;
  }
}


// ANIMATION to menu item in .side-a-menu
@for $i from 1 through 10 {
  .side-a-menu > .menu > li:nth-child(#{$i}) a {
    opacity: 0;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .side-a-menu.show > .menu > li:nth-child(#{$i}) a {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all .3s ease (.3s + $i*.12), color .2s;
    -o-transition: all .3s ease (.3s + $i*.12), color .2s;
    transition: all .3s ease (.3s + $i*.12), color .2s;
  }
}


.side-a-top {
  position: relative;
}
.side-a-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  .widget-title {
    margin: 0;
    padding: 0;
    font-size: .8rem;
    text-align: center;
    color: $color__white;
  }
  .widget {
    margin: 0;
    img {
      padding: ($padding__small * 2);
      opacity: .8;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
      @include transition();
      &:hover {
        opacity: 1;
        -webkit-filter: grayscale(0);
                filter: grayscale(0);
      }
    }
  }

  .widget_sow-social-media-buttons {
    .social-media-button-container {
      text-align: center;
      .sow-social-media-button {
        font-size: 2rem;
        margin: 0 0 1rem 0;
        padding: .6rem;
        display: block;
        opacity: .7;
        @include transition;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
