.home {
  .entry-header {
    display: none;
  }

  .page-content,
  .entry-content,
  .entry-summary {
    margin: 0;
  }
}

.so-widget-sow-button .ow-button-base a {
  color: $color__btn-text !important;
  border: 2px solid transparent;
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 0 2px $color__btn-border;
          box-shadow: inset 0 0 0 2px $color__btn-border;
  @include hover-bordered(2px, $color__link, .125s);
  &:hover {
    color: $color__link !important;
  }
}
.widget-title {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0;
  padding: 10px 0 0 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  @include media-md {
    font-size: 2rem;
    padding: 60px 0 0 60px;
  };
}
