$size-es: 480px; // extra small
$size-sm: 768px;
$size-md: 992px;
$size-lg: 1200px;

$size-menu-h: 60px;

$size__site-main: 100%;
$size__site-sidebar: 25%;

$size__side-a: 160px;
$size__side-b: 60px;

$size__side-a-menu: 260px;
$size__menu-toggle__line-h: 2px;
$size__menu-toggle__line-w: 50px;
$size__menu-toggle: 50px;
$size__menu-toggle-h: 40px;

$padding__small: 10px;
$padding__big: 70px;
